 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 1115px;
  margin: 150px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 466px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 6px 9px 5px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 20px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 6px 9px 5px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 20px;
}

.u-section-1 .u-icon-2 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 6px 9px 5px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 20px;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 6px 9px 5px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 20px;
}

.u-section-1 .u-icon-4 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 6px 9px 5px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-5 {
  padding: 25px 20px;
}

.u-section-1 .u-icon-5 {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 702px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 935px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 455px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 760px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}